*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: hsl(0, 0%, 100%);
  font-family: 'Open Sans', sans-serif;
  background-color: hsl(0deg, 0%, 10%);
  overscroll-behavior-y: none;
}